.about {
    &__numbers {
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            &__value {
                font-size: 10rem;
                line-height: 1.2em;
            }
        }
    }
    &__slider {
        overflow: hidden;
        .swiper {
            overflow: unset !important;
        }
        &-item {
            display: block;
            height: 45rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__content {
        &__map {
            height: 65rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__text {
            margin-top: 5rem;
        }
    }
}
