.hero {
    padding-top: 4rem;
    &__wrapper {
        position: relative;
        width: 100%;
        height: 90rem;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: calc(100% - 8rem);
    }
    &-tools {
        position: absolute;
        bottom: 4rem;
        width: 100%;
        z-index: 1;
        padding: 0 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // &__progress {
    // }
    &__scroll {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include bp(mobile) {
            display: none;
        }
        &-icon {
            width: 2.5rem;
            height: 4rem;
            border: 2px solid var(--c-white);
            border-radius: 2.5rem;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 0.5rem;
                height: 1rem;
                background-color: var(--c-white);
                border-radius: 2.5rem;
                top: 0.8rem;
                left: 50%;
                transform: translateX(-50%);
                animation: scrollLineAnimation 2s infinite;
            }
        }
        @keyframes scrollLineAnimation {
            0% {
                opacity: 0;
                top: 5%;
            }
            40% {
                opacity: 1;
            }
            80% {
                opacity: 0;
                top: 65%;
            }
            100% {
                opacity: 0;
                top: 65%;
            }
        }
    }
    &__count {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-width: 4rem;
        &-total {
            opacity: 0.6;
        }
        &-hr {
            margin: 1rem 0;
            & > .line {
                background-color: var(--c-white);
                width: 100%;
                height: 0.1rem;
                margin-bottom: 0.4rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    // &-progress {
    //     width: 5rem;
    //     height: 5rem;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     // height: 0.4rem;
    //     z-index: 2;
    //     background-color: var(--c-primary);
    //     animation-name: heroProgress;
    //     animation-duration: 2s;
    //     animation-timing-function: linear;
    //     animation-iteration-count: 1;
    //     border-radius: 50%;

    //     @keyframes heroProgress {
    //         from {
    //             width: 0%;
    //         }
    //         to {
    //             width: 100%;
    //         }
    //     }
    // }
    .swiper {
        height: 100%;
        &-slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-buttons {
            &-prev {
                left: 0;
            }
            &-next {
                right: 0;
            }
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        text-align: center;
        max-width: 81rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.index-about {
    position: relative;
    overflow: hidden;
    padding-bottom: 20rem;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.5;
        img {
            height: 100%;
            object-fit: contain;
            position: absolute;
            bottom: 10%;
            left: 12%;
            transform: scale(1.2);
        }
    }
    &__content {
        &-image {
            height: 50rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.index-projects {
    background-color: var(--c-primary);
    overflow: hidden;
    &__slider {
        .swiper {
            overflow: unset !important;
        }
        &-card {
            position: relative;
            display: block;
            height: 68rem;
            overflow: hidden;
            &:hover {
                .index-projects__slider-card {
                    &__content {
                        transform: translateY(-25rem);
                    }
                    &__button {
                        opacity: 1;
                        transform: translateY(4.5rem);
                    }
                }
            }
            &__bg {
                position: relative;
                height: 100%;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(
                        rgba(0, 0, 0, 0) -24.16%,
                        rgba(0, 0, 0, 0.5) 68.31%
                    );
                    transition: var(--transition);
                    z-index: 1;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__content {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: max-content;
                z-index: 1;
                padding: 4rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                transition: var(--transition);
                overflow: hidden;
            }
            &__button {
                position: absolute;
                opacity: 0;
                transform: translateY(-100%);
                transition: var(--transition);
            }
        }
    }
    &__button {
        margin-top: 5rem;
    }
}

.index-references {
    overflow: hidden;
    .swiper {
        overflow: unset;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10rem;
        filter: grayscale(1);
        transition: var(--transition);
        &:hover {
            filter: grayscale(0);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.index-products {
    &__slider {
        overflow: hidden;
        .swiper {
            overflow: unset;
        }
        &-card {
            background-color: var(--c-tertiary);
            border-radius: 0.6rem;

            &__image {
                height: 30rem;
                border-radius: 0.6rem;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0.6rem;
                    object-fit: cover;
                }
                &-preview {
                    width: 12rem;
                    height: 12rem;
                    border-radius: 2rem;
                    overflow: hidden;
                    transform: rotate(45deg);
                    position: absolute;
                    right: 3.5rem;
                    bottom: -5rem;
                    z-index: 1;
                    box-shadow: -1px -1px 22px 0px rgba(255, 255, 255, 0.3);
                }
            }
            &__content {
                padding: 6rem 4rem;
                &-title {
                    text-transform: uppercase;
                }
            }
        }
    }
}

.index-news {
    &__card {
        &-image {
            height: 64rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-content {
            margin-top: 3.5rem;
            height: 17rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__title {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}
